// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Waterfall&display=swap');

.wut {
  font-size: 10rem;
  font-family: 'Waterfall';
}
.notification {
  font-size: 2rem;
}
